---
layout: page
title: Posts
subtitle: "전체 글 목록"
---

{% assign sorted_posts = site.posts %}
{% assign total = site.posts.size %}

<div class="gmail-list">
  <div class="gmail-header">
    <span class="gmail-col-num">#</span>
    <span class="gmail-col-title">제목</span>
    <span class="gmail-col-tags">태그</span>
    <span class="gmail-col-date">날짜</span>
  </div>

  {% for post in sorted_posts %}
  {% assign post_num = forloop.rindex %}
  <a href="{{ post.url | absolute_url }}" class="gmail-row">
    <span class="gmail-col-num">{{ post_num }}</span>
    <span class="gmail-col-title">{{ post.title | strip_html }}</span>
    <span class="gmail-col-tags">
      {% for tag in post.tags limit:2 %}
      <span class="gmail-tag">{{ tag }}</span>
      {% endfor %}
    </span>
    <span class="gmail-col-date">{{ post.date | date: "%Y.%m.%d" }}</span>
  </a>
  {% endfor %}
</div>
